body {
  font-family: Arial, sans-serif;
  background: linear-gradient(45deg, #333, #555, #333, #555); /* Animated gradient background */
  background-size: 400% 400%; /* Background size for animation */
  animation: gradientAnimation 15s linear infinite; /* Animation properties */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.container {
  max-width: 500px;
  padding: 20px;
  background: #444;
  border: 2px solid #007bff;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  animation: neonGlow 1.5s ease-in-out infinite alternate; /* Neon glow animation */
}
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
input[type="text"],
input[type="number"],
select,
input[type="file"],
input[type="email"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #777;
  border-radius: 5px;
  background: #555;
  color: #fff;
}
input[type="file"] {
  cursor: pointer;
}
input[type="email"]:valid {
  background: #555;
}
button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background: #0056b3;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes neonGlow {
  0% {
    box-shadow: 0 0 3px rgba(0, 0, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 7px rgba(0, 0, 255, 0.8), 0 0 10px rgba(0, 0, 255, 0.8);
  }
}