<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.selenium.handleRetry.TransformationManager"></listener>
	</listeners>
	<test thread-count="5" group-by-instances="true" name="Test">
		<classes>
			<class name="com.selenium.assignment.testing.LoginAndLogout"></class>
			<class name="com.selenium.assignment.testing.AddCandidate"></class>
			<class name="com.selenium.assignment.testing.AddCompany"></class>
			<class name="com.selenium.assignment.testing.AddContact"></class>
			<class name="com.selenium.assignment.testing.AddJob"></class>
		</classes>
	</test>
</suite> <!--
Suite -->
