<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Recruit CRM Tetsing">
	<listeners>
        <listener class-name="com.recruitcrm.handleRetry.TransformationManager"/>
    </listeners>
	<test name="Test_1" group-by-instances="true" thread-count="2">
		<classes>
			<class name="com.recruitcrm.testing.Base"></class>
			<class name="com.recruitcrm.testing.LoginTesting"></class>
			<class name="com.recruitcrm.testing.AddCandidateTesting"></class>
			<class name="com.recruitcrm.testing.AddCompanyTesting"></class>
		</classes>
	</test>
  <!-- Test -->
</suite> <!-- Suite -->
